<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="baby">

    <select id="getBabySeqList" resultType="int">
        SELECT baby_seq FROM baby where family_code = #{family_code}
    </select>

    <select id="babyMypage" resultType="com.kedu.project.baby.BabyDTO">
        SELECT * FROM baby where family_code = #{family_code} and baby_seq = #{baby_seq}
    </select>

    <insert id="babyInsert" useGeneratedKeys="true" keyProperty="baby_seq">
        INSERT INTO baby
        (name, gender, family_code, image_name, status,
         birth_date, updated_at)
        VALUES
        (#{name}, #{gender}, #{family_code}, #{image_name},
         #{status}, #{birth_date}, NOW())
    </insert>

    <select id="babyListByMypage" resultType="com.kedu.project.baby.BabyDTO">
        select * from baby where family_code = #{family_code} order by birth_date asc
    </select>

    <update id="babypageUpdate">
        update baby set name = #{name}, gender = #{gender}, status = #{status}, birth_date = #{birth_date}, updated_at= NOW()
        where family_code = #{family_code} and baby_seq = #{baby_seq}
    </update>


	<!--지원 아기 시퀀스+부모 아이디로 출산예정일 or 생일 가져오기
        혜빈 살짝 수정 후 로그인 로직에 사용 -->
	<select id="babyDueDate" resultType="String">
		select birth_date from baby where family_code= #{family_code} and baby_seq = #{baby_seq} 
	</select>
</mapper>