<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Comment">

	<!--1. 부모시퀀스+타입으로 댓글 전부 지우기-->
    <delete id="deleteAllComment">
        delete from comment where board_seq= #{board_seq} 
    </delete>

</mapper>