<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="DailyRecord">
	<!--0. 그룹아이디로 같은 그룹아이디 리스트 가져오기-->
	<select id="getSleepGroup" resultType="com.kedu.project.daily_record.DailyRecordDTO">
		select * from daily_record where sleep_group_id = #{sleep_group_id}
	</select>
	
	<!--0-1. 받은 날짜기준으로 어제~내일까지의 sleep 기록들 리스트로 뽑아오기-->
	<select id="getSleepRange" resultType="com.kedu.project.daily_record.DailyRecordDTO">
	    SELECT
	        *
	    FROM
	        daily_record
	    WHERE
	        baby_seq = #{baby_seq}
	        AND record_type = 'sleep'
	        AND created_at BETWEEN
	            DATE_SUB(#{date}, INTERVAL 1 DAY)
	            AND DATE_ADD(DATE_ADD(#{date}, INTERVAL 1 DAY), INTERVAL 1 DAY)
	    ORDER BY created_at;
	</select>
	
	
<!--    <select id="getDailyRecord" resultType="com.kedu.project.daily_record.DailyRecordDTO">
	    select *
	    from daily_record
	    where baby_seq = #{baby_seq}
	      AND DATE(created_at) BETWEEN #{start} AND #{end}
	    order by created_at
	</select>-->
	
	<select id="getDailyRecord" resultType="com.kedu.project.daily_record.DailyRecordDTO">
	    SELECT *
	    FROM daily_record
	    WHERE baby_seq = #{baby_seq}
	      AND created_at <![CDATA[ >= ]]> #{start}
	      AND created_at <![CDATA[ <= ]]> CONCAT(#{end}, ' 23:59:59')
	    ORDER BY created_at
	</select>
	

	<select id="getTargetData"  resultType="com.kedu.project.daily_record.DailyRecordDTO">
		SELECT *
	    FROM daily_record
	    WHERE baby_seq = #{baby_seq}
	      AND DATE(created_at) = #{created_at}
	    
	    <if test="record_type != 'all'">
	        AND record_type LIKE CONCAT(#{record_type}, '%')
	    </if>
	    ORDER BY created_at
	</select>
	
	<insert id="postData">
	    insert into daily_record
	    (baby_seq, user_id, record_type, amount_value, created_at, sleep_group_id)
	    values
	    <foreach collection="list" item="dto" separator=",">
	        (#{dto.baby_seq}, #{dto.user_id}, #{dto.record_type},
	         #{dto.amount_value}, #{dto.created_at}, #{dto.sleep_group_id})
	    </foreach>
	</insert>
	
	<!-- 4. 데이터 수정 -->
	<update id="updateData">
	    <foreach collection="list" item="dto" separator=";">
	        UPDATE daily_record
	        SET 
	            amount_value = #{dto.amount_value},
	            created_at = #{dto.created_at},
	            record_type= #{dto.record_type}
	        WHERE 
	            record_seq = #{dto.record_seq}
	            AND baby_seq = #{dto.baby_seq}
	    </foreach>
	</update>
	
	<!-- 5 데이터 그룹아이디 따라 삭제 -->
	<delete id="deleteSleepGroup">
	    DELETE FROM daily_record
	    WHERE baby_seq = #{baby_seq}
	    AND sleep_group_id = #{group_id}
	    AND user_id = #{user_id}
	</delete>
	
	<!--5.1 다른데이터 삭제-->
	<delete id="deleteData">
		DELETE FROM daily_record
	    WHERE baby_seq = #{baby_seq}
	    AND record_seq = #{record_seq}
	    AND user_id = #{user_id}
	</delete>		

</mapper>