<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dashcart">

    <select id="getCountByPath" resultType="int">
        SELECT count FROM dash_chart where path = #{path}
    </select>

    <update id="countUpdate">
        update dash_chart set count = #{count} where path = #{path}
    </update>
</mapper>