<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="File">

	<!--1. 보드 시퀀스로 썸네일 파일리스트 뽑아오기-->
    <select id="getThumsFromTo" resultType="com.kedu.project.file_info.FileDTO">
        select * from file_info
        where target_type = 'board/thumb' and target_seq in
        <foreach collection="list" item="seq" open="(" separator="," close=")">
        	#{seq}
        </foreach>
    </select>
    
    
    <!--2. 파일 인서트-->
    <insert id="insert">
    	insert into file_info(sysname, oriname, user_id, target_type, target_seq,created_at)
    	values
    	<foreach collection="list" item="file" separator=",">
    		(#{file.sysname}, #{file.oriname}, #{file.user_id}, #{file.target_type}, #{file.target_seq}, NOW())
    	</foreach>
    </insert>
    
    <!--2-1. 임시 인서트 (파일 미리보기용 url 위해서 따로 만듦) ** 해당 것 created_at을 null로 해놓아야지 구별 가능-->
    <insert id="insertTemp" parameterType="com.kedu.project.file_info.FileDTO">
	  insert into file_info (sysname, oriname, user_id, target_type, created_at)
	  values (#{sysname}, #{oriname}, #{user_id}, #{target_type}, null)
	</insert>
	
	<!--2-2. 파일 임시저장-> 찐 저장으로 바꾸기-->
	<update id="confirmImg" parameterType="map">
		update file_info set target_seq=#{target_seq}, created_at= now()
		where sysname in
			<foreach collection="imageSysList" item="sysname" open="(" separator="," close=")">
				#{sysname}
			</foreach>
	</update>
	<!--2-3. 썸네일 인서트-->
    <insert id="saveThumbnail" parameterType="com.kedu.project.file_info.FileDTO">
	  insert into file_info (sysname, oriname, user_id, target_type, target_seq, created_at)
	  values (#{sysname}, #{oriname}, #{user_id}, #{target_type}, #{target_seq}, NOW())
	</insert>
	

	<!--3. 시스네임으로 오리네임 찾기-->
	<select id="findOriNameBySysName" resultType="string">
	    select oriname from file_info where sysname = #{sysname}
	</select>
	
	
	<!--3. 타겟 시퀀스+ 타겟 타입으로 해당하는 파일 배열 가져오기-->
	<select id="getDetailBoardFile" resultType="com.kedu.project.file_info.FileDTO">
	    select * from file_info where target_type = #{target_type} and target_seq = #{target_seq}
	</select>
	
	<!--4.부모 시퀀스에 따라서 딸려있는 첨부파일+이미지들 전부 가져오기-->
	<select id="getFilesByParent" parameterType="map" resultType="com.kedu.project.file_info.FileDTO">
		select * from file_info where target_seq = #{target_seq} and user_id= #{user_id} and target_type like concat(#{target_type}, '%')
	</select>
	<!--4-1.부모 시퀀스에 따라서 딸려있느 첨부파일+이미지들 전부 지우기-->
	<delete id="deleteAllFile" parameterType="map">
		delete from file_info where target_seq = #{target_seq} and user_id = #{user_id} AND target_type LIKE CONCAT(#{target_type}, '%')
	</delete>
	
	<!--5.created_at + target_seq 가 null인 파일 목록 가져오기 (새벽 4시 정리용)-->
	<select id="getTempFiles" resultType="com.kedu.project.file_info.FileDTO">
		select * from file_info where target_seq IS NULL or created_at IS NULL
	</select>
	
	<!--6. sysname으로 삭제하기-->
	<delete id="deleteFileBySysname">
		delete from file_info where sysname = #{sysname}
	</delete>
	
	<!--7. 보드 시퀀스로 board/thumb 가져오기-->
	<select id="getThumbnailsByBoardSeq" resultType="com.kedu.project.file_info.FileDTO">
	    select * from file_info where target_type = #{target_type} and target_seq = #{target_seq}
	</select>
	
	<!--8.파일 시퀀스로 dto 가져오기-->
	<select id="getFileBySeq" resultType="com.kedu.project.file_info.FileDTO">
	    select * from file_info where file_seq = #{file_seq}
	</select>
	
	<!--9. 파일 시퀀스로 db에서 삭제하기-->
	<delete id="deleteFileBySeq">
		delete from file_info where file_seq = #{file_seq}
	</delete>
	
	<!--10. 시스네임으로 dto 가져오기-->
	<select id="findBySysname" resultType="com.kedu.project.file_info.FileDTO">
	    select * from file_info where sysname = #{sysname}
	</select>
	
</mapper>