<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="healthyRecor">

    <insert id="insert">
        insert into healthy_record (baby_seq, user_id, test_code, is_checked, created_at) values
        (#{baby_seq}, #{user_id}, #{test_code},
        #{is_checked}, #{created_at})
    </insert>

    <delete id="delete">
      delete from healthy_record where baby_seq = #{baby_seq} and user_id = #{user_id} and test_code = #{test_code}
    </delete>

    <select id="selectList" resultType="com.kedu.project.healthy_record.HealthyRecordDTO">
      select test_code, is_checked, created_at from healthy_record where baby_seq = #{baby_seq} and user_id = #{user_id}
    </select>

    <select id="eventList" resultType="com.kedu.project.healthy_record.HealthyRecordDTO">
      SELECT *
      FROM healthy_record
      WHERE baby_seq = #{baby_seq}
        AND user_id = #{user_id}
        AND is_checked = 'Y'
        AND created_at BETWEEN DATE_SUB(CURDATE(), INTERVAL 7 DAY) 
                          AND DATE_ADD(CURDATE(), INTERVAL 7 DAY)
      ORDER BY created_at ASC
    </select>

    <update id="eventDelete">
      update healthy_record set is_checked = 'N' where baby_seq = #{baby_seq} and user_id = #{user_id} and test_code = #{test_code}
    </update>
</mapper>